body {
  padding: 0px;
  margin: 0px;
}

table {
  margin : 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

div { 
  display: block;
}

#header {
  background-image: url('../images/topPattern.jpg');
  background-repeat: repeat-x;
  height: 226px;
  vertical-align: top;
}

#topSection{
  height: 35px;
  margin: 0px;
}

#logo, #appname {
  float: left;
}

#logo img {
  display: block;
  height: 100px;
  width: 100px;
  margin: 1px 50px;
}

#appname{
  color: white;
  font-size: 60px;
}

#user_area{
  display: inline;
  float: right;
  clear: both;
  padding-top: 1px;
}

#content {
  vertical-align: top;
}

#content > div{
  width: 1000px;
  margin: 20px auto 10px;
}

#best > p{
  font-size: xx-large;
}

#best table{
  vertical-align: top;
}

#best img {
  /*border: 1px solid black;*/
  width : 500px;
}

#features > p{
  font-size: x-large;
}

#features li{
  color: #347cb6;
}

#features span {
  color: black;
}

#award img{
  float: right;
}

#footer{
  height: 40px;
  background-color: #347cb6;
  vertical-align: bottom;
  color: white;
  font-size: 11px;
}

#copyRight{
  float: left;
  color:#53aafb;
  text-align: center;
  width: 33%;
  padding: 21px;
  font-size: 12px;
  font-weight: bold;
}

#authors{
  float: left;
  text-align: left;
  width: 33%;
  padding: 21px;
  font-size: 12px;
  font-weight: bold;
}

#validators{
  float: right;
  text-align: right;
  padding: 10px;
}
