
#header {
  width: 100%;
  height: 50px;
  background-color: #347cb6;
  display: block;
}

#main {
  min-height: 500px;
  width: 100%;
  background-color: #D7D7FF;
  padding: 10px 0px;
  display: inline-block;
}

#separator {
  width: 5px;
  /*height: 800px;*/
  height: 100%;
  float: left;
  background: url('/exist/itunes/images/separator.png') repeat-y;
}

#menu {
  width: 20%;
  float: left;
  font-weight: bold;
}

#menu li {
  list-style: square;
  color: #347cb6;
}

#menu li span {
  color: black;
}

#selected {
  text-decoration: underline;
}

#content {
  float: left;
  width: 70%;
  min-height: 500px;
  border-left: 1px solid #347cb6;
  padding-left: 15px;
}

table {
  /*border: 1px solid black;*/
  width: 100%;
  height: 100%;
}

th {
  height: 24px;
}

tr {
  vertical-align: top;
}

tr:nth-child(even) {
  background-color: #7CB0DA;
}

td {
  vertical-align: top;
  height: 20px;
  /*width: 150px;*/
}

li {
  list-style: none;
}

#footer {
  height: 50px;
  background-color: #347cb6;
  clear: both;
}

#copyRight{
  float: left;
  color:#53aafb;
  text-align: center;
  width: 33%;
  padding: 21px;
  font-size: 12px;
  font-weight: bold;
}

#authors{
  float: left;
  text-align: left;
  width: 33%;
  padding: 21px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

#validators{
  float: right;
  text-align: right;
  padding: 10px;
}

#tableLink:hover {
  background-color: Yellow;
}
