.leftSide{
	float:left;
	/*height: 100px;*/
	width: 30%;
	/*border:  1px solid black;*/
}

#rightSide{
	float:right;
		/*border:  1px solid black;*/
		width:69%;
}

div p{
	color:blue;
	font-weight: bold;
}

div span{
	color:black;
	font-weight: normal;
}

li{
	list-style-type: none;	padding: 5px;
}

#info> a:visited{
	color:blue;
}

#info> a:link{
	color:blue;
}
