table, th, td{
	border: 1px black solid;
	text-align: center;
}

table{
	border-collapse:collapse;
	width:100%;
}

th {
	height:50px;
	background-color:#A7C942;
	color:white;
}

td{
	padding: 5px;
}

/*tr:nth-child(odd) {
    background-color: #D3D9D9;
}*/

tr:nth-child(n+15) { background-color : red }

tr:nth-child(-n+4) { background-color : orange }