body {
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:link, a:visited {
	color: rgb(0,66,118);
}

a:hover {
	color: rgb(202,0,2);
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

#main {
	/*width:1000px; */
	width: 100%;
	float: left;
	height: 100%;
	/*border: 1px black solid;*/
}

.leftFloat {
	float: left;
}

.rightFloat {
	float: right;
}

.clear {
	clear: both;
}

.clearLeft {
	clear: left;
}

/*Header*/
#header {
	width: 100%;
	height: 190px;
	background-color: rgb(222,0,2);
/*	background-color: #336666;*/
}

#headerImageDiv {
	margin-left: 10px;
	margin-top: 4px;
}

#headerImage {
	margin-left: 10px;
	margin-top: 4px;
	height: 170px;
	width: 150px;
}

.spaceBar {
	clear: both;
	height: 10px;
}

#menu {
	width: 100%;
}

#menu ul {
	width: 100%;
/*	padding: 10px;*/
	list-style-type: none;
}

#menu li {
	font-size:18px;
	float :left;
	height:20px;
	text-decoration: none;
	color: black;
	background-color:#D3D3D3;
	padding: 10px 15px;
	display: inline;
	border-right: 1px solid black;
}

#menu li:last-child{
	border-right: 0px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

#menu li:first-child{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

/*Main window*/
#main {
	width: 100%;
	height: auto;
	float: left;
}


/**/

#content{
	clear: both;
	width: 100%;
	height: auto;
  min-height: 200px;
	float: left;
	/*border: 1px solid black;*/
}
	
/*Footer*/

#footer {
	width: 100%;
	float: left;
	font-size: 12px;
	background-color: #D3D3D3;
}

#copyRight {
	float: left;
	color: #53aafb;
	text-align: center;
	width: 33%;
	padding: 21px;
	font-size: 12px;
	font-weight: bold;
}

#authors {
	float: left;
	text-align: left;
	width: 33%;
	padding: 21px;
	font-size: 12px;
	font-weight: bold;
}

