
.leftSide{
  float:left;
  /*height: 100px;*/
  width: 30%;
  /*border:  1px solid black;*/
}

#rightSide{
  float:right;
    /*border:  1px solid black;*/
    width:69%;
}

table, th, td{
	border: 1px black solid;
	text-align: center;
}

table{
	border-collapse:collapse;
	width:70%;
}

th {
	height:50px;
	background-color:#A7C942;
	color:white;
}

td{
	padding: 5px;
}

tr:nth-child(odd) {
    background-color: #D3D9D9;
}

div p{
	color:blue;
	font-weight: bold;
}

div span{
	color:black;
	font-weight: normal;
}
